.footer {
  padding: 30px 0;
  background-color: $dark-section;
  color: #fff;

  &__container {
    @extend %flex-c-c;
    flex-direction: column;
  }
}

.social {
  @extend %flex;
  margin-bottom: 30px;
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    display: block;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
    background-color: #262F38;
  }
}