.header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1B242F;
  border-bottom: 3px solid #04C2C9;
  &__nav {
    padding: 15px 0;
    font-size: 18px;
    text-transform: uppercase;
    &-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &-link {
      transition: color .3s;
      &:focus {
        outline: none;
      }

      &:hover,
      &:focus,
      &.is-active {
        color: $active-color;
      }
    }
  }
  &.is-floating {
    position: fixed;
    top: 0;
    bottom: unset;
    z-index: 5;
    animation: headerSpawn .5s ease-in-out;
  }
}
.progress {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  height: 3px;
  background-color: $active-color;
  z-index: 2;
}
@keyframes headerSpawn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}