@import 'base';
@import 'normalize';
@import 'grid';
@import 'animations';


/* #Buttons */

.btn-default {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* #UI */

.caption {
  color: $caption-color;
  font-weight: 700;
}

.link {
  color: $dark-main;
  font-weight: 500;
}
/* #Typography */

.section-title {
  position: relative;
  padding: 10px 0;
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;

  &:after {
    @extend %cent-x;
    bottom: 0;
    content: '';
    width: 60px;
    height: 4px;
    background-color: currentColor;
  }
}
